# ignore everything in the webroot except the "wp-content" directory.
webroot/*
!webroot/wp-content/

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore everything in the "wp-content" directory, except:
# "mu-plugins" directory
# "plugins" directory
# "themes" directory
webroot/wp-content/*
!webroot/wp-content/mu-plugins/
!webroot/wp-content/plugins/
!webroot/wp-content/themes/
!webroot/wp-content/languages/
!webroot/wp-content/upgrade/
!webroot/wp-content/uploads/
!webroot/.gitkeep
!webroot/wp-content/mu-plugins/.gitkeep
!webroot/wp-content/plugins/.gitkeep
!webroot/wp-content/themes/.gitkeep
!webroot/wp-content/languages/.gitkeep
!webroot/wp-content/upgrade/.gitkeep
!webroot/wp-content/uploads/.gitkeep

# ignore generated theme assets
webroot/wp-content/themes/*/assets/

# ignore local Docker data/imports
docker-wps/wp-data/*
!docker-wps/wp-data/.gitkeep

# ignore local environment file
docker-wps/.env

# ignore node dependency directories
node_modules/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
Movefile
Movefile.dist
._.gitignore
