IP=127.0.0.1
WP_PORT=8081
PMA_PORT=8080
DB_PORT=3306
DB_ROOT_PASSWORD=root
DB_NAME=wordpress_starter_db
WP_SITE_URL=http://127.0.0.1:8081
WP_SITE_TITLE=WordPress Starter
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin123!
WP_ADMIN_EMAIL=admin@example.test
WP_ACTIVE_THEME=your-theme
